<div class="panel panel-success style-task-panel">
  <div class="panel-heading">Future Tasks</div>
  <div class="panel-body">
		<%= render 'tasks', tasks: @future_tasks %>
  </div>
</div>

<div class="panel panel-danger style-task-panel">
  <div class="panel-heading">In Progress Tasks</div>
  <div class="panel-body">
		<%= render 'tasks', tasks: @in_progress_tasks %>
  </div>
</div>

<div class="panel panel-info style-task-panel">
  <div class="panel-heading">Done Tasks</div>
  <div class="panel-body">
		<%= render 'tasks', tasks: @done_tasks %>
  </div>
</div>
