<div class="col-md-12">
  <div id="task_list">
    <%= render 'tasks_list', future_tasks: @future_tasks, in_progress_tasks: @in_progress_tasks, done_tasks: @done_tasks %>
  </div>
</div>

<script type="text/javascript">
  $('input[type=radio]').on("click", function(){
    var id = $(this)[0].className
    var name = 'form-' + id
    $('#form-' + id ).submit()
  })
</script>
