<%= form_for([:admin, task, @comment], remote: true) do |f| %>
  <div class="field">
    <%= f.text_area :body, id:"body-comment-form", class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Comment", onclick:"javascript:remove_body_text()", id:"submit-comment-form", class:"btn btn-primary" %>
  </div>
<% end %>