<% unless task.file_tasks.blank? %>
	<% task.file_tasks.each do |t| %>
		<div class="file-style">
			<div class="title-files">
				<%= t.title %>
			</div>
			<%= image_tag t.image.url(:modal) %>
		</div>
	<% end %>
<% else %>
	No files has been found.
<% end %>
