<% unless task.comments.blank? %>
	<ul>
	  <% task.comments.each do |comment| %>
			<li>
				<i class="style-owner-comment"><%= comment.user.name %> - </i><%= link_to '<i class=style-remove-comment> Delete</i>'.html_safe, {action: 'destroy_comment', task_id: task.id, comment_id: comment.id }, data: { confirm: 'Are you sure?' }, method: :delete, remote: true unless comment.user != current_user %><br>
					<%= comment.body %>
				</li>
	  <% end %>
	</ul>
<% else %>
  No comments has been registered.
<% end %>