<div class="col-md-1"></div>
<div class="col-md-4">
  <h2><%= @work_group.name %></h2>
  <p>
    <strong>Description:</strong>
    <%= @work_group.description %>
  </p>
  <%= link_to 'Back', admin_work_groups_path, class:"btn btn-default" %>
</div>
<div class="col-md-7"></div>