.any-group-information{
  width: 70%;
  margin-top: 30%;
  text-align: center;
  font-weight: bold;
}

.style-task-panel{
	width: 80%;
}

#table-detail-task{
  width: 100%;
  td{
    padding-bottom: 10px;
  }
}

.style-owner-comment{
  color: #3053E8;
  font-size: 15px;
}

.style-remove-comment{
  color: #D9302B;
  font-size: 12px;
}

#body-comment-form{
  resize: none;
  width: 80%;
}

#submit-comment-form{
  margin-top: 10px;
}

.title-files{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.file-style{
  margin-bottom: 20px;
}