.any-group-information{
  width: 70%;
  margin-top: 30%;
  text-align: center;
  font-weight: bold;
}

.style-task-panel{
	width: 80%;
}

#table-detail-task{
  width: 100%;
  td{
    padding-bottom: 10px;
  }
  input{
  }
}

.style-owner-comment{
  color: #D9302B;
  font-size: 12px;
}

#body-comment-form{
  resize: none;
  width: 80%;
}

#submit-comment-form{
  margin-top: 10px;
}