.title-group{
  margin-top: 10%;
  font-size: 2em;
  color: #337ab7;
}

#line-tasks{
  border: solid 1px #337ab7;
  margin-top: 15px;
}

#table-new-task{
  width: 100%;
  td{
    padding-bottom: 10px;
  }
  textarea{
    resize: none;
    width: 80%;
  }
  input{
    width: 80%;
  }
}

.current-task{
  margin-bottom: 20px;
}

.style-b-new-task{
  margin-left: 70px;
}

#delete-task-button{
  width: 26px;
  height: 24px;
  font-weight: bold;
  font-size: 0.7em;
  padding-left: 9px;
  padding-top: 4px;
}

#delete-assigned-task{
  width: 26px;
  height: 24px;
  font-weight: bold;
  font-size: 0.7em;
  padding-left: 9px;
  padding-top: 4px;
}

#edit-task-button{
  width: 30px;
  height: 25px;
  padding-left: 8px;
  padding-top: 2px;
}

#table-list-tasks{
  width: 48%;
  .qwe-td{
    width: 100%;
  }
  .edit-styles{
    width: 1%;
    padding-right: 20px;
  }
}

.checked{
  h3{
    a{
      color: #225EB7;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.any-task-information{
  width: 70%;
  margin-top: 30%;
  text-align: center;
  font-weight: bold;
}

#add-member-task-button{
  width: 28px;
  height: 25px;
  padding-left: 6px;
  padding-top: 2px;
}

#members-table{
  margin-left: 20px;
  width: 45%;
}

.margin-tdd{
  color: white;
  padding-bottom: 10px;
}

.info-tr-style{
  border-bottom: 1px solid #EAEDED;
}

.info-td-task{
  padding-right: 40px;
  padding-top: 10px;
}