.title-group{
  margin-top: 10%;
  font-size: 2em;
  color: #337ab7;
}

#line-tasks{
  border: solid 1px #337ab7;
  margin-top: 15px;
}

#table-new-task{
  width: 100%;
  td{
    padding-bottom: 10px;
  }
  textarea{
    resize: none;
    width: 80%;
  }
  input{
    width: 80%;
  }
}

.current-task{
  margin-bottom: 20px;
}

.style-b-new-task{
  margin-left: 70px;
}

#delete-task-button{
  width: 25px;
  height: 23px;
  font-weight: bold;
  font-size: 0.7em;
  line-height: 8px;
  text-align: center;
}

#edit-task-button{
  width: 30px;
  height: 25px;
  line-height: 12px;
}

#table-list-tasks{
  width: 48%;
  .qwe-td{
    width: 100%;
  }
  .edit-styles{
    width: 1%;
    padding-right: 20px;
  }
}

.checked{
  h3{
    a{
      color: #225EB7;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.any-task-information{
  width: 70%;
  margin-top: 30%;
  text-align: center;
  font-weight: bold;
}