.style-task-panel{
	width: 65%;
}

#table-detail-task{
  width: 100%;
  td{
    padding-bottom: 10px;
  }
  input{
  }
}

.style-owner-comment{
  color: #D9302B;
  font-size: 12px;
}

#body-comment-form{
  resize: none;
  width: 80%;
}

#submit-comment-form{
  margin-top: 10px;
}