.style-task-panel{
	width: 65%;
}

#table-detail-task{
  width: 100%;
  td{
    padding-bottom: 10px;
  }
}
.style-owner-comment{
  color: #3053E8;
  font-size: 12px;
}

.style-remove-comment{
  color: #D9302B;
  font-size: 12px;
}

#body-comment-form{
  resize: none;
  width: 80%;
}

#submit-comment-form{
  margin-top: 10px;
}

.title-files{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.file-style{
  margin-bottom: 20px;
}

#members-table{
  margin-left: 20px;
  width: 45%;
}

.margin-tdd{
  color: white;
  padding-bottom: 10px;
}

.info-tr-style{
  border-bottom: 1px solid #EAEDED;
}

.info-td-task{
  padding-right: 40px;
  padding-top: 10px;
}