<div class="col-md-12">
  <% if group.user_has_groups.blank? %>
    <div class="members">
      <br>
      No members has been found.
    </div>
  <% else %>
    <div class="panel panel-primary">
    <div class="panel-heading">Members</div>
    <div class="panel-body members">
      <% group.members.each do |member| %>
        <p><%= link_to member.name, '#', data: { toggle:"modal", target:"#modal-detail-user-#{member.id}" }%></p>
        <%= render 'front/work_groups/modal_detail_user', user: member, title: "Member Details" %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>

<div class="col-md-12">
  <% if group.tasks.blank? %>
    <div class="members">
      <br>
      No task has been registered
    </div>
  <% else %>
    <div class="panel panel-primary">
    <div class="panel-heading">Task</div>
    <div class="panel-body members">
      <% group.tasks.each do |task| %>
        <p><%= link_to task.name, '#', data: {toggle:"modal", target:"#modal-detail-task-#{task.id}"} %></p>
        <%= render 'front/work_groups/modal_detail_task', task: task %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('input[type=radio]').on("click", function(){
    var id = $(this)[0].className
    var name = 'form-' + id
    $('#form-' + id ).submit()
  })
</script>