<div class="col-md-1"></div>
<div class="col-md-4">
  <div class="head-group">
    <div class="title">
      <h1>My Groups</h1>
    </div>
    <div class="button-new-container"></div>
  </div>
  <hr>
  <% @groups.each do |work_group| %>
    <div class="flex-prop row-selected">
      <h3><%= link_to work_group.name, '#', onclick:"javascript:view_details(#{work_group.id})" %></h3>
      <div class="buttons-group"></div>
    </div>
    <table>
      <tr>
        <td><b>Description:</b></td>
        <td class="margin-td"><%= work_group.description %></td>
      </tr>
    </table>
    <br>
  <% end %>
  <br>
</div>
<div id="detail-group" class="col-md-7">
  <div class="any-group-information">
    <div class="alert alert-info" role="alert">Click any group name for view their details.</div>
  </div>
</div>