/*
 *= require_tree 
 *= require_self
 *= require bootstrap.min
 */

.position-alert{
  margin-top: 80px;
  margin-right: 350px;
  margin-left: 350px;
}

#layout-devise{
	background-image: url("22.jpg");
	background-size: cover;
}

.errors-devise{
	text-align: center;
}

.green-text{
	color: green;
}

#phone-box{
	width: 50%;
}

#presentation-logo{
	text-align: center;
}

.logo{
  width: 60%;
  margin-bottom: 15px;
}