/*
 *= require_tree './front'
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
 */

.be-grease{
	background-color: #DBDBDF;
}

.large{
	padding: 8px; 
}

.green-text{
	color: green;
}

.left-margin{
	margin-left: 50px;
}

.margin-button{
	margin-top: 10px;
}

.toggle{
	height: 35px;
}

.bs-example{
	margin: 50px;
}

.left-padding{
	margin-top: 10px;
	margin-left: 10px;
}

#layout-front{
	background-image: url("11.jpg");
	background-size: cover;
}

.initial-margin{
  margin-top: 20px;
	margin-left: 20px;
}

.static-logo{
	font-size: 1.2em;
	font-weight: bold;
}

.image-upload{
	margin-bottom: 10px;
}

.title-upload{
	margin-bottom: 10px;
}

#title-image{
	width: 30%;
}